body{
  font-family: Arial;
  background:#f2f2f2;
  text-align:center;
}

.company{
  margin:40px;
}

.company-logo{
  width:80px;
}

.product-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(220px,1fr));
  gap:20px;
  margin:20px;
}

.card{
  background:white;
  padding:15px;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.card img{
  width:100%;
  border-radius:8px;
}

button{
  background:#27ae60;
  color:white;
  padding:10px;
  border:none;
  border-radius:5px;
  cursor:pointer;
  margin-top:10px;
}
